* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
    
}
html {
    font-family: "Open Sans", sans-serif;
}
/* Navbar Section */
#navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 10px;
}
/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid black;
}
#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home .name {
    text-align: center;
}
#home .name h2 {
    margin-bottom: 0.75rem;
}
#home .name p {
    opacity: 0.6;
    font-style: italic;
}
/* Başarılar  */
#successes {
    color: white;
    padding: 1rem;
}
#successes .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#successes .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#successes .items .item:hover {
    color: red;
    opacity: 0.5;
}
/* Fotoğraflar */
.zinosphoto {
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    
}
#Photos {
    color: #333;
    padding: 1rem;
    
    
}
.Photos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 3px solid #336ea2;
    border-radius: 10px;
}
.Photos .photo {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.Photos .photo .image {
    margin-right: 1rem;
    position: relative;
}
.Photos .photo .image img{
    border-radius: 6px;  
}
.Photos .photo .image span {
    background: red;
    padding: 0.25rem;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}
.Photos .photo .photo-info .title{
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    font-weight: 800;
    margin-bottom: 0.25rem;
    padding: 0.10rem;
    border-bottom: 1px solid black;
}
.Photos .photo .photo-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.8;
}
.Photos .photo .photo-info .kisiler{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
    opacity: 0.8;
}